<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button routerLink='/login' >Login</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!token" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">
    <ion-button routerLink='/camera' expand="block">Photo</ion-button>
  </div>
</ion-content>

<div *ngIf="token" class="ion-padding">
  <ion-button color="danger" expand="block" type="submit" class="ion-no-margin">Login with Google
  </ion-button>
</div>
